# Required for scripts
PRIVATE_KEY=
SALT=
ENTRYPOINT_ADDRESS=0x0000000071727De22E5E9d8BAf0edAc6f37da032
DELEGATION_MANAGER_ADDRESS=
MULTISIG_DELEGATOR_IMPLEMENTATION_ADDRESS=

# Required for verifying contracts
ETHERSCAN_API_KEY=

# RPC URLs
MAINNET_RPC_URL=https://mainnet.infura.io/v3/
LINEA_RPC_URL=https://linea-mainnet.infura.io/v3/